@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Bebas+Neue&family=Oswald&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap");

@media print {
  body {
    margin: 0 !important;
  }
}

:root {
  --ck-content-font-family: "Lato";
  --ck-sidebar-width: 270px;
  --ck-editor-height: 700px;
}

.main-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.editor-container__editor-wrapper {
  display: flex;
  width: fit-content;
}

.editor-container_document-editor {
  border: 1px solid var(--ck-color-base-border);
}

.editor-container_document-editor .editor-container__toolbar {
  display: flex;
  position: relative;
  box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
}

.editor-container_document-editor .editor-container__toolbar > .ck.ck-toolbar {
  flex-grow: 1;
  width: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.editor-container_document-editor
  .editor-container__menu-bar
  > .ck.ck-menu-bar {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.editor-container_document-editor .editor-container__editor-wrapper {
  max-height: var(--ck-editor-height);
  min-height: var(--ck-editor-height);
  overflow-y: scroll;
  background: var(--ck-color-base-foreground);
}

.editor-container_document-editor .editor-container__editor {
  margin-top: 28px;
  margin-bottom: 28px;
  height: 100%;
}

.editor-container_document-editor
  .editor-container__editor
  .ck.ck-editor__editable {
  box-sizing: border-box;
  min-width: calc(210mm + 2px);
  max-width: calc(210mm + 2px);
  min-height: 297mm;
  height: fit-content;
  padding: 20mm 12mm;
  border: 1px hsl(0, 0%, 82.7%) solid;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 2px 3px hsla(0, 0%, 0%, 0.078);
  flex: 1 1 auto;
  margin-left: 72px;
  margin-right: 72px;
}

.editor-container_include-outline
  .editor-container__editor
  .ck.ck-editor__editable {
  margin-left: 0;
}

.editor-container_include-outline.editor-container_include-fullscreen
  .ck-fullscreen__document-outline-header {
  display: none;
}

.editor-container__sidebar {
  min-width: var(--ck-sidebar-width);
  max-width: var(--ck-sidebar-width);
  margin-top: 28px;
  margin-left: 10px;
  margin-right: 10px;
}

.ck-content .table thead {
  display: table-row-group;
}

.ck-content .table tr {
  break-inside: avoid;
  break-after: auto;
}

/*********************************************/

/*
 * What you're currently looking at is the source code of a legally protected, proprietary software.
 * CKEditor 5 Collaboration is licensed under a commercial license and protected by copyright law. Where not otherwise indicated,
 * all CKEditor 5 Collaboration content is authored by CKSource engineers and consists of CKSource-owned intellectual property.
 *
 * Copyright (c) 2003-2025, CKSource Holding sp. z o.o. All rights reserved.
 * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-licensing-options
 */

/* Content styles */

@media print {
  body {
    margin: 0 !important;
    overflow-x: hidden;
  }
}

@layer snippets {
  .ck-content {
    --ck-content-font-size: 15px;
    --ck-content-font-family: "Lato", system-ui, Roboto, "Helvetica Neue",
      "Helvetica", Arial, sans-serif;
  }

  .ck-content * {
    box-sizing: border-box;
  }

  .ck-content > :first-child {
    margin-top: 0 !important;
  }

  .ck-content > :last-child {
    margin-bottom: 0 !important;
  }

  .ck-content h2 {
    font-size: 1.68em;
    line-height: 1.68em;
    padding: 0.8em 0 0.2em 0;
    margin: 0 0 0.4em 0;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    font-weight: 400;
  }

  .ck-content h3 {
    font-size: 1.36em;
    line-height: 1.5em;
    padding: 0.6em 0 0 0;
    margin: 0 0 1.5em 0;
    font-weight: 400;
  }

  .ck-content h4 {
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 0.6em 0 0 0;
    margin: 0 0 0.2em 0;
    font-weight: 400;
  }

  .ck-content h5 {
    font-size: 1em;
    line-height: 1.6em;
    padding: 0.2em 0 0 0;
    margin: 0 0 0.8em 0;
    font-weight: 400;
  }

  .ck-content strong,
  .ck-content b {
    font-weight: 600;
  }

  .ck-content a {
    color: hsl(231, 89%, 53%);
    text-decoration: none;
  }

  .ck-content p {
    margin: 0 0 0.8em 0;
    padding: 0.2em 0 0 0;
    line-height: 1.6em;
  }
  .ck-content ul,
  .ck-content ol {
    margin-top: 0;
    margin-left: 2.666em;
    margin-bottom: 0.8em;
    padding: 0.2em 0 0 0;
    line-height: 1.6em;
  }

  .ck-content ul ul,
  .ck-content ul ol,
  .ck-content ol ul,
  .ck-content ol ol {
    padding-top: 0;
    margin-bottom: 0;
  }

  .ck-content ul ul:last-of-type,
  .ck-content ul ol:last-of-type,
  .ck-content ol ul:last-of-type,
  .ck-content ol ol:last-of-type {
    margin-bottom: 0.33333em;
  }

  .ck-content blockquote {
    margin-top: 0;
    margin-bottom: 0.8em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.6em;
  }

  .ck-content blockquote p:first-of-type {
    margin-bottom: 1.5rem;
  }

  .ck-content .table thead {
    display: table-row-group;
  }
  .ck-content .table tr {
    break-inside: avoid;
    break-after: auto;
  }

  .ck-content .table p:first-child {
    padding-top: 0;
  }

  .ck-content .table table {
    margin: 0;
    display: table;
  }

  .ck-content .table td,
  .ck-content .table th {
    vertical-align: middle;
  }

  .ck-content .table p:last-child,
  .ck-content .table p:last-of-type:has(+ .ck-table-column-resizer),
  .ck-content .table ul:last-child,
  .ck-content .table ul:last-of-type:has(+ .ck-table-column-resizer),
  .ck-content .table ol:last-child,
  .ck-content .table ol:last-of-type:has(+ .ck-table-column-resizer) {
    margin-bottom: 0;
  }

  /* stylelint-disable no-descending-specificity */
  .ck-content .table-of-contents ol ol:last-of-type {
    margin-bottom: 0;
  }

  .ck-content sub {
    vertical-align: sub;
    font-size: smaller;
  }

  .ck-content sup {
    vertical-align: super;
    font-size: smaller;
  }

  /* Editor styles */

  .document-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: calc(100vh - 100px);
    background: hsl(0, 0%, 95%);
  }

  .toolbar-container {
    width: 100%;
  }

  .editor-container {
    width: 100%;
    border: 1px solid hsl(0, 0%, 80%);
    box-sizing: border-box;
    overflow: auto;
  }
}
